<div>
  <div style="width:20%; display: inline-block; border-right: 1px solid #ddd; height: 100vh; vertical-align: top;">
    <ul>
      <li style="padding: 5px;"><a [routerLink]="['/dashboard']">Dashboard</a></li>
      <li style="padding: 5px;"><a [routerLink]="['/management']">Management</a></li>
      <li style="padding: 5px;"><a [routerLink]="['/maintenance']">Maintenance</a></li>
    </ul>
  </div>
  <div style="width: 70%; display: inline-block; padding: 15px 25px; vertical-align: top;">
    <router-outlet></router-outlet>
  </div>

</div>